<style>
.page-header{
     margin-left:30px;
     color:#ffffff;
}
.bdy{
    background-image:url("http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2015/02/CoM_Stuk.io-Ruby-on-Rails.jpg");
}
.form-group{
       font-size: 20px;
       color:#ffffff;
}
.word{
    margin-left:50px;
     font-size: 25px;
       color:#FFFF00;
}
</style>
<div class ="container">
    <div class="page-header">
      <h1><b>글자, 단어 숫자 세기!</b><small></small></h1>
    </div>
    <form method="POST" action="/count">
        <div class="form-group">
           <label for="comment">내용 입력</label>
           <textarea class="form-control" rows="10" name="content" id="comment" style="opacity: 0.5; color:#000000; font-size:25px" placeholder="내용을 입력하세요"></textarea>
        </div>
        <button type="submit" class="btn btn-default">제출</button>
    </form>
    <h1 class="word">모든 글자 수(공백포함) : 
    <%=@postsAll%>
    </h1>
    <h1 class="word">글자 수(공백 미포함) : 
    <%=@wordAll%>
    </h1>
    <h1 class="word">단어 수 : 
    <%=@word%>
    </h1>
    
</div>